/* line 5, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/index.scss */
body {
  font-family: arial,SimHei,sans-serif;
}

/* line 7, ../sass/index.scss */
a {
  text-decoration: none;
}

/* line 10, ../sass/index.scss */
li {
  list-style: none;
}

/* line 13, ../sass/index.scss */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* line 20, ../sass/index.scss */
#dingbu, #header .daohang, #banner, #renqi, #youxuan, #chaoliu-shang, #chaoliu-xia, #fashion, #chaomen, #newthing {
  width: 1903px;
  margin: 0 auto;
  background: red;
}

/* line 25, ../sass/index.scss */
#dingbu .banxin, #renqi .tou, #youxuan .tou, #chaoliu-shang .tou, #chaoliu-xia .tou, #fashion .tou, #chaomen .tou, #newthing .tou, #header .title, #header .daohang nav, #banner, #renqi, #youxuan, #chaoliu-shang, #chaoliu-xia, #fashion, #chaomen, #newthing {
  width: 1150px;
  margin: 0 auto;
}

/* line 29, ../sass/index.scss */
#dingbu .banxin .YoHo a, #dingbu .banxin .zhapian a, #dingbu .banxin #loginbox .loginbar, #dingbu .banxin #loginbox .registbar {
  text-decoration: none;
  color: #000;
}

/* line 33, ../sass/index.scss */
#dingbu .banxin .dinglan li a {
  text-decoration: none;
  color: #8e8e8e;
}

/* line 37, ../sass/index.scss */
#dingbu .banxin .YoHo, #dingbu .banxin .zhapian, #dingbu .banxin #loginbox {
  float: left;
}

/* line 44, ../sass/index.scss */
#dingbu {
  height: 32px;
  background: #f4f4f4;
  position: relative;
}
/* line 51, ../sass/index.scss */
#dingbu .banxin .YoHo {
  height: 32x;
  line-height: 32px;
}
/* line 55, ../sass/index.scss */
#dingbu .banxin .YoHo .icon-hamburger {
  background-image: url(../images/sprite.scss.png);
  background-position: -19px -86px;
  background-size: 123px 122px;
  width: 16px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
}
/* line 69, ../sass/index.scss */
#dingbu .banxin .zhapian {
  color: #444;
  font-size: 12px;
  margin-left: 20px;
  padding: 0 1px;
  height: 32px;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
}
/* line 79, ../sass/index.scss */
#dingbu .banxin .zhapian .icon-jinghao {
  display: inline-block;
  background-image: url(../images/sprite.scss.png);
  background-position: -107px -22px;
  background-size: 123px 122px;
  width: 15px;
  height: 14px;
  margin-top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}
/* line 90, ../sass/index.scss */
#dingbu .banxin .zhapian a {
  color: #d71d32;
}
/* line 96, ../sass/index.scss */
#dingbu .banxin #loginbox {
  margin-left: 150px;
  width: 145.7px;
  height: 32px;
  line-height: 32px;
  list-style: none;
}
/* line 103, ../sass/index.scss */
#dingbu .banxin #loginbox .hi {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  background-color: #f4f4f4;
}
/* line 110, ../sass/index.scss */
#dingbu .banxin #loginbox .loginbar {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #8e8e8e;
}
/* line 118, ../sass/index.scss */
#dingbu .banxin #loginbox .registbar {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #8e8e8e;
}
/* line 127, ../sass/index.scss */
#dingbu .banxin .admin {
  position: absolute;
  top: 40px;
  left: 50px;
}
/* line 132, ../sass/index.scss */
#dingbu .banxin .dinglan {
  width: 550px;
  height: 32px;
  float: left;
}
/* line 137, ../sass/index.scss */
#dingbu .banxin .dinglan .text {
  width: 66px;
  height: 32px;
}
/* line 141, ../sass/index.scss */
#dingbu .banxin .dinglan .yh {
  width: 90px;
}
/* line 143, ../sass/index.scss */
#dingbu .banxin .dinglan .yh .icon {
  font-size: 16px;
}
/* line 148, ../sass/index.scss */
#dingbu .banxin .dinglan .yh2 .app {
  position: absolute;
  top: 32px;
  margin-left: -26px;
  width: 146px;
  padding: 20px 0 14px;
  background-color: #f4f4f4;
  border: none;
  z-index: 1000;
  display: none;
}
/* line 158, ../sass/index.scss */
#dingbu .banxin .dinglan .yh2 .app img {
  margin: 2px auto 3px 26px;
  width: 96px;
  height: 96px;
}
/* line 163, ../sass/index.scss */
#dingbu .banxin .dinglan .yh2 .app h5 {
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}
/* line 171, ../sass/index.scss */
#dingbu .banxin .dinglan .sj {
  width: 72px;
}
/* line 173, ../sass/index.scss */
#dingbu .banxin .dinglan .sj .app1 {
  position: absolute;
  top: 32px;
  margin-left: -26px;
  width: 146px;
  padding: 20px 0 14px;
  background-color: #f4f4f4;
  border: none;
  z-index: 1000;
  display: none;
}
/* line 183, ../sass/index.scss */
#dingbu .banxin .dinglan .sj .app1 img {
  margin: 2px auto 3px 26px;
  width: 96px;
  height: 96px;
  position: relative;
}
/* line 188, ../sass/index.scss */
#dingbu .banxin .dinglan .sj .app1 img h5 {
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}
/* line 197, ../sass/index.scss */
#dingbu .banxin .dinglan .kf {
  width: 82px;
  position: relative;
}
/* line 200, ../sass/index.scss */
#dingbu .banxin .dinglan .kf .down {
  top: 32px;
  margin-left: 1px;
  width: 88px;
  position: absolute;
  background-color: #eaeceb;
  z-index: 100;
  display: none;
}
/* line 208, ../sass/index.scss */
#dingbu .banxin .dinglan .kf .down li {
  float: none;
  padding: 0;
  position: relative;
  width: 88px;
  height: 33px;
  border-top: 1px solid #c9c9c9;
  box-sizing: border-box;
  line-height: 33px;
  text-align: center;
}
/* line 218, ../sass/index.scss */
#dingbu .banxin .dinglan .kf .down li a {
  display: inline-block;
  width: 88px;
  height: 33px;
  line-height: 33px;
  box-sizing: border-box;
  color: #8e8e8e;
}
/* line 229, ../sass/index.scss */
#dingbu .banxin .dinglan li {
  width: 80px;
  height: 32px;
  float: left;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
}
/* line 237, ../sass/index.scss */
#dingbu .banxin .dinglan li .tag-seprate {
  width: 0;
  margin-top: 11px;
  margin-right: 12px;
  height: 14px;
  float: left;
  border-left: 1px solid #dcdcdc;
}
/* line 245, ../sass/index.scss */
#dingbu .banxin .dinglan li .icon-bottomarrow {
  background-image: url(../images/sprite.scss.png);
  background-size: 123px 122px;
  margin-top: -2px;
  background-position: -64px -86px;
  width: 10px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}
/* line 256, ../sass/index.scss */
#dingbu .banxin .dinglan li .icon-papers {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-position: 0 -86px;
  width: 11px;
  height: 14px;
  background-image: url(../images/sprite.scss.png);
  background-size: 123px 122px;
  margin-top: -2px;
}
/* line 267, ../sass/index.scss */
#dingbu .banxin .dinglan li .icon-heart {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-image: url(../images/sprite.scss.png);
  background-size: 123px 122px;
  margin-top: -2px;
  background-position: -107px -44px;
  width: 15px;
  height: 13px;
}
/* line 278, ../sass/index.scss */
#dingbu .banxin .dinglan li .icon-mail {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-position: -107px -65px;
  width: 16px;
  height: 11px;
  background-image: url(../images/sprite.scss.png);
  background-size: 123px 122px;
  margin-top: -2px;
}
/* line 290, ../sass/index.scss */
#dingbu .banxin .dinglan li .icon-phone {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-image: url(../images/sprite.scss.png);
  background-size: 123px 122px;
  width: 10px;
  height: 14px;
  margin-top: -2px;
  background-position: 0px -108px;
}
/* line 308, ../sass/index.scss */
#dingbu .banxin .dinglan > li:hover .down {
  display: block;
}
/* line 311, ../sass/index.scss */
#dingbu .banxin .dinglan > .yh1:hover {
  background: #eaeceb;
}
/* line 314, ../sass/index.scss */
#dingbu .banxin .dinglan > .yh2:hover .app {
  display: block;
}
/* line 317, ../sass/index.scss */
#dingbu .banxin .dinglan > .sj:hover .app1 {
  display: block;
}

/* line 322, ../sass/index.scss */
#renqi .tou, #youxuan .tou, #chaoliu-shang .tou, #chaoliu-xia .tou, #fashion .tou, #chaomen .tou, #newthing .tou {
  height: 152px;
  background: #fff;
}

/* line 328, ../sass/index.scss */
#header {
  width: 1150x;
  margin: 0 auto;
  height: 162px;
  background: #fff;
  margin-bottom: 10px;
}
/* line 334, ../sass/index.scss */
#header .title {
  height: 116px;
  margin: 0 auto;
  background: yellow;
}
/* line 339, ../sass/index.scss */
#header .title .left {
  width: 346px;
  height: 116px;
  background: white;
  float: left;
}
/* line 345, ../sass/index.scss */
#header .title .middle {
  width: 402px;
  height: 116px;
  background: green;
  float: left;
}
/* line 350, ../sass/index.scss */
#header .title .middle .logo {
  width: 182px;
  height: 53px;
  margin-left: 122px;
  margin-top: 58px;
  vertical-align: middle;
  position: relative;
}
/* line 359, ../sass/index.scss */
#header .title .right {
  width: 402px;
  height: 116px;
  background: #ff0;
  float: left;
  position: relative;
}
/* line 365, ../sass/index.scss */
#header .title .right #search {
  background-color: #3a3a3a;
  border: 1px solid #3a3a3a;
  width: 320px;
  height: 28px;
  display: inline-block;
  position: absolute;
  bottom: 22px;
  height: 32px;
}
/* line 374, ../sass/index.scss */
#header .title .right #search .hidden {
  width: 240px;
  height: 32px;
  border: none;
  background: #fff;
  box-sizing: border-box;
  padding-left: 10px;
  color: #b0b0b0;
  position: relative;
}
/* line 384, ../sass/index.scss */
#header .title .right #search .fdj {
  position: absolute;
  top: 11px;
  right: 20px;
  margin-bottom: -15px;
  margin-left: 30px;
  width: 20px;
  height: 10px;
  margin-left: 20px;
}
/* line 395, ../sass/index.scss */
#header .title .right .hot {
  width: 320px;
  height: 16px;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0px;
}
/* line 404, ../sass/index.scss */
#header .title .right .hot li {
  display: inline-block;
  font-size: 12px;
  color: #b0b0b0;
  margin-right: 18px;
}
/* line 409, ../sass/index.scss */
#header .title .right .hot li a {
  color: #b0b0b0;
}
/* line 415, ../sass/index.scss */
#header .title .right .show {
  position: absolute;
  left: 340px;
  top: 62px;
}
/* line 419, ../sass/index.scss */
#header .title .right .show .icon-gouwuche {
  width: 27px;
  height: 30px;
  font-size: 30px;
}
/* line 423, ../sass/index.scss */
#header .title .right .show .icon-gouwuche:hover {
  color: red;
  width: 40px;
}
/* line 427, ../sass/index.scss */
#header .title .right .show .icon-gouwuche:hover .car {
  display: block;
}
/* line 435, ../sass/index.scss */
#header .title .right .car {
  width: 380px;
  height: 500px;
  display: none;
  position: absolute;
  top: 94px;
  left: 22px;
  z-index: 99;
  background: #f8f8f8;
}
/* line 444, ../sass/index.scss */
#header .title .right .car .icon-gouwuche1 {
  font-size: 200px;
  vertical-align: middle;
  line-height: 500px;
  width: 142px;
  height: 134px;
  position: absolute;
  left: 140px;
  top: 0px;
}
/* line 455, ../sass/index.scss */
#header .title .right .show:hover + .car {
  display: block;
}
/* line 461, ../sass/index.scss */
#header .daohang {
  height: 46px;
  background: #3a3a3a;
}
/* line 465, ../sass/index.scss */
#header .daohang nav {
  margin: 0 auto;
}
/* line 468, ../sass/index.scss */
#header .daohang nav .fushi {
  width: 74px;
  position: relative;
}
/* line 471, ../sass/index.scss */
#header .daohang nav .fushi .list {
  width: 1903px;
  height: 410px;
  box-sizing: border-box;
  position: absolute;
  left: -660px;
  top: 38px;
  padding: 30px 0;
  background-color: #f8f8f8;
  z-index: 99;
  display: none;
}
/* line 482, ../sass/index.scss */
#header .daohang nav .fushi .list .centercontent {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
/* line 486, ../sass/index.scss */
#header .daohang nav .fushi .list .centercontent .show-tu {
  box-sizing: border-box;
  padding-left: 19px;
  padding-right: 19px;
  width: 337px;
  height: 250px;
  float: right;
}
/* line 493, ../sass/index.scss */
#header .daohang nav .fushi .list .centercontent .show-tu a {
  width: 337px;
  height: 250px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  top: 31px;
  left: 1198px;
}
/* line 504, ../sass/index.scss */
#header .daohang nav .fushi .list .centercontent .show-tu .title {
  width: 116px;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #000;
  overflow: hidden;
  top: 298px;
  height: 13px;
  right: 370px;
}
/* line 517, ../sass/index.scss */
#header .daohang nav .fushi .list .centercontent .product-list {
  float: left;
  width: 278px;
  height: 352px;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  padding: 0 50px;
}
/* line 524, ../sass/index.scss */
#header .daohang nav .fushi .list .centercontent .product-list dt {
  width: 180px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  line-height: 18px;
  margin-bottom: 20px;
}
/* line 531, ../sass/index.scss */
#header .daohang nav .fushi .list .centercontent .product-list dd {
  line-height: 14px;
  height: 14px;
  margin-bottom: 24px;
}
/* line 540, ../sass/index.scss */
#header .daohang nav .xielv {
  width: 74px;
}
/* line 552, ../sass/index.scss */
#header .daohang nav .baozhuang {
  width: 74px;
}
/* line 555, ../sass/index.scss */
#header .daohang nav .hang {
  width: 60px;
}
/* line 558, ../sass/index.scss */
#header .daohang nav .sale {
  width: 82px;
}
/* line 561, ../sass/index.scss */
#header .daohang nav .xieyi {
  margin-left: 8px;
}
/* line 564, ../sass/index.scss */
#header .daohang nav .peishi {
  width: 116px;
}
/* line 567, ../sass/index.scss */
#header .daohang nav li {
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-right: 36px;
  float: left;
  padding-right: 2px;
  position: relative;
}
/* line 575, ../sass/index.scss */
#header .daohang nav li a {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  bottom: 6px;
  left: 1px;
}
/* line 582, ../sass/index.scss */
#header .daohang nav li a span {
  width: 56px;
  height: 2px;
  background: white;
  display: none;
}
/* line 588, ../sass/index.scss */
#header .daohang nav li a .liang {
  width: 25px;
  height: 2px;
  background: white;
  position: absolute;
}
/* line 595, ../sass/index.scss */
#header .daohang nav li a .san {
  width: 34px;
  height: 2px;
  background: white;
  position: absolute;
}
/* line 602, ../sass/index.scss */
#header .daohang nav li a .yi {
  width: 10px;
  height: 2px;
  background: white;
  position: absolute;
}
/* line 609, ../sass/index.scss */
#header .daohang nav li a .si {
  width: 60px;
  height: 2px;
  background: white;
  position: absolute;
}
/* line 617, ../sass/index.scss */
#header .daohang nav li .daohang nav li a :hover span {
  display: block;
}

/* line 624, ../sass/index.scss */
#header .title .left .left1 {
  width: 346px;
  height: 45px;
  display: inline-block;
  padding-top: 72px;
  float: left;
}
/* line 630, ../sass/index.scss */
#header .title .left .left1 .boy {
  width: 80px;
  height: 45px;
  background-color: #3a3a3a;
  float: left;
  padding-top: 8px;
  text-align: center;
}
/* line 638, ../sass/index.scss */
#header .title .left .left1 .boy h5 a {
  color: #fff;
}
/* line 644, ../sass/index.scss */
#header .title .left .left1 .girl {
  float: left;
  text-align: center;
  width: 80px;
  height: 45px;
  padding-top: 8px;
  text-align: center;
}
/* line 652, ../sass/index.scss */
#header .title .left .left1 .girl h5 a {
  color: #000;
}
/* line 657, ../sass/index.scss */
#header .title .left .left1 .kid {
  width: 76px;
  height: 45px;
  float: left;
  text-align: center;
  padding-top: 8px;
}
/* line 664, ../sass/index.scss */
#header .title .left .left1 .kid h5 a {
  color: #000;
}
/* line 669, ../sass/index.scss */
#header .title .left .left1 .free {
  width: 110px;
  height: 45px;
  float: left;
  text-align: center;
  padding-top: 8px;
}
/* line 676, ../sass/index.scss */
#header .title .left .left1 .free h5 a {
  color: #000;
}

/* line 682, ../sass/index.scss */
#banner {
  height: 510px;
  background: red;
}
/* line 686, ../sass/index.scss */
#banner .datu {
  width: 1150px;
  height: 450px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
/* line 695, ../sass/index.scss */
#banner .datu #left {
  position: absolute;
  top: 50%;
  margin: -30px 0 0;
  width: 60px;
  height: 60px;
  line-height: 56px;
  text-align: center;
  z-index: 2;
  background: #fff;
  opacity: .55;
}
/* line 707, ../sass/index.scss */
#banner .datu #right {
  position: absolute;
  top: 50%;
  right: 0%;
  margin: -30px 0 0;
  width: 60px;
  height: 60px;
  line-height: 56px;
  text-align: center;
  z-index: 2;
  background: #fff;
  opacity: .55;
}
/* line 720, ../sass/index.scss */
#banner .datu .bpic {
  position: relative;
}
/* line 722, ../sass/index.scss */
#banner .datu .bpic li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 2s;
}
/* line 728, ../sass/index.scss */
#banner .datu .bpic li img {
  width: 1150px;
  height: 450px;
  display: block;
}
/* line 736, ../sass/index.scss */
#banner .xiaotu {
  width: 1148px;
  height: 54px;
  background: #3a3a3a;
  margin-top: 6px;
  padding-left: 2px;
  margin-left: 0px;
}
/* line 743, ../sass/index.scss */
#banner .xiaotu .spic {
  width: 1148px;
  height: 54px;
  background: #ccc;
  float: left;
}
/* line 748, ../sass/index.scss */
#banner .xiaotu .spic li {
  width: 139px;
  height: 54px;
  background: peru;
  padding: 0 2px;
  float: left;
}

/* line 759, ../sass/index.scss */
#renqi {
  height: 658px;
  background: white;
}
/* line 763, ../sass/index.scss */
#renqi .tou {
  position: relative;
}
/* line 766, ../sass/index.scss */
#renqi .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}
/* line 777, ../sass/index.scss */
#renqi .rq {
  width: 1150px;
  height: 502px;
  float: left;
}
/* line 781, ../sass/index.scss */
#renqi .rq li {
  width: 186px;
  height: 246px;
  padding-right: 5px;
  padding-bottom: 8px;
  float: left;
}
/* line 788, ../sass/index.scss */
#renqi .rq .guodong {
  width: 378px;
  height: 246px;
}

/* line 794, ../sass/index.scss */
#youxuan {
  height: 616px;
  background: pink;
}
/* line 798, ../sass/index.scss */
#youxuan .tou {
  position: relative;
}
/* line 801, ../sass/index.scss */
#youxuan .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}
/* line 812, ../sass/index.scss */
#youxuan .banner1 {
  width: 1150px;
  height: 176px;
  overflow: hidden;
}
/* line 816, ../sass/index.scss */
#youxuan .banner1 .lun1 {
  width: 2316px;
  height: 176px;
  position: relative;
  animation: bannerMove 1.5s linear infinite normal;
  animation-delay: 1.5s;
}
/* line 824, ../sass/index.scss */
#youxuan .banner1 .lun1 li {
  width: 378px;
  height: 176px;
  float: left;
}
/* line 830, ../sass/index.scss */
#youxuan .banner1 .lun1 .middle1 {
  padding: 0 8px;
}
@keyframes bannerMove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -1150px;
  }
}
/* line 849, ../sass/index.scss */
#youxuan .paizi {
  width: 1200px;
  height: 276px;
}
/* line 852, ../sass/index.scss */
#youxuan .paizi ul {
  width: 100%;
  height: 276px;
  margin-top: 6px;
}
/* line 856, ../sass/index.scss */
#youxuan .paizi ul li {
  width: 186px;
  height: 86px;
  float: left;
  margin: 8px 7px 0 0;
}

/* line 866, ../sass/index.scss */
#chaoliu-shang {
  height: 974px;
  background: purple;
}
/* line 870, ../sass/index.scss */
#chaoliu-shang .tou {
  position: relative;
}
/* line 873, ../sass/index.scss */
#chaoliu-shang .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}
/* line 883, ../sass/index.scss */
#chaoliu-shang .tou .more {
  position: absolute;
  padding: 10px 0;
  top: 78px;
  right: 0;
}
/* line 890, ../sass/index.scss */
#chaoliu-shang .shang {
  width: 1200px;
  height: 508px;
}
/* line 893, ../sass/index.scss */
#chaoliu-shang .shang ul {
  width: 1150px;
  height: 508px;
  float: left;
}
/* line 897, ../sass/index.scss */
#chaoliu-shang .shang ul li {
  width: 188px;
  height: 250px;
  float: left;
  margin: 6px 4px 0 0;
}
/* line 902, ../sass/index.scss */
#chaoliu-shang .shang ul li .yufulan {
  height: 228px;
  padding: 10px 0;
  background-color: #f8f8f8;
  overflow: hidden;
}
/* line 907, ../sass/index.scss */
#chaoliu-shang .shang ul li .yufulan a {
  float: left;
  width: 50%;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  color: #000;
  overflow: hidden;
}
/* line 919, ../sass/index.scss */
#chaoliu-shang .shang ul .zhong {
  width: 376px;
  height: 250px;
}
/* line 922, ../sass/index.scss */
#chaoliu-shang .shang ul .zhong img {
  width: 376px;
  height: 250px;
}
/* line 927, ../sass/index.scss */
#chaoliu-shang .shang ul #lazy {
  margin-top: 4   px;
}
/* line 932, ../sass/index.scss */
#chaoliu-shang .xia {
  width: 1150px;
  height: 328px;
}
/* line 935, ../sass/index.scss */
#chaoliu-shang .xia ul {
  width: 100%;
  height: 306px;
  margin-top: 8px;
}
/* line 939, ../sass/index.scss */
#chaoliu-shang .xia ul li {
  width: 222px;
  height: 298px;
  float: left;
  padding: 8px 6px 0 0;
}

/* line 948, ../sass/index.scss */
#chaoliu-xia {
  height: 974px;
  background: purple;
}
/* line 952, ../sass/index.scss */
#chaoliu-xia .tou {
  position: relative;
}
/* line 955, ../sass/index.scss */
#chaoliu-xia .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}
/* line 965, ../sass/index.scss */
#chaoliu-xia .tou .more {
  position: absolute;
  padding: 10px 0;
  top: 78px;
  right: 0;
}
/* line 972, ../sass/index.scss */
#chaoliu-xia .shang {
  width: 1200px;
  height: 508px;
}
/* line 975, ../sass/index.scss */
#chaoliu-xia .shang ul {
  width: 1150px;
  height: 508px;
}
/* line 978, ../sass/index.scss */
#chaoliu-xia .shang ul li {
  width: 188px;
  height: 250px;
  float: left;
  margin: 6px 4px 0 0;
}
/* line 983, ../sass/index.scss */
#chaoliu-xia .shang ul li .yufulan {
  height: 228px;
  padding: 10px 0;
  background-color: #f8f8f8;
  overflow: hidden;
}
/* line 988, ../sass/index.scss */
#chaoliu-xia .shang ul li .yufulan a {
  float: left;
  width: 50%;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  color: #000;
  overflow: hidden;
}
/* line 1000, ../sass/index.scss */
#chaoliu-xia .shang ul .zhong {
  width: 376px;
  height: 250px;
}
/* line 1003, ../sass/index.scss */
#chaoliu-xia .shang ul .zhong img {
  width: 376px;
  height: 250px;
}
/* line 1008, ../sass/index.scss */
#chaoliu-xia .shang ul #lazy {
  margin-top: 4   px;
}
/* line 1013, ../sass/index.scss */
#chaoliu-xia .xia {
  width: 1150px;
  height: 328px;
}
/* line 1016, ../sass/index.scss */
#chaoliu-xia .xia ul {
  width: 100%;
  height: 306px;
  margin-top: 8px;
}
/* line 1020, ../sass/index.scss */
#chaoliu-xia .xia ul li {
  width: 222px;
  height: 298px;
  float: left;
  padding: 8px 6px 0 0;
}

/* line 1029, ../sass/index.scss */
#fashion {
  height: 974px;
  background: peru;
}
/* line 1033, ../sass/index.scss */
#fashion .tou {
  position: relative;
}
/* line 1036, ../sass/index.scss */
#fashion .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}
/* line 1046, ../sass/index.scss */
#fashion .tou .more {
  position: absolute;
  padding: 10px 0;
  top: 78px;
  right: 0;
}
/* line 1053, ../sass/index.scss */
#fashion .shang {
  width: 1200px;
  height: 508px;
}
/* line 1056, ../sass/index.scss */
#fashion .shang ul {
  width: 1150px;
  height: 508px;
}
/* line 1059, ../sass/index.scss */
#fashion .shang ul li {
  width: 188px;
  height: 250px;
  float: left;
  margin: 6px 4px 0 0;
}
/* line 1064, ../sass/index.scss */
#fashion .shang ul li .yufulan {
  height: 228px;
  padding: 10px 0;
  background-color: #f8f8f8;
  overflow: hidden;
}
/* line 1069, ../sass/index.scss */
#fashion .shang ul li .yufulan a {
  float: left;
  width: 50%;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  color: #000;
  overflow: hidden;
}
/* line 1081, ../sass/index.scss */
#fashion .shang ul .zhong {
  width: 376px;
  height: 250px;
}
/* line 1084, ../sass/index.scss */
#fashion .shang ul .zhong img {
  width: 376px;
  height: 250px;
}
/* line 1089, ../sass/index.scss */
#fashion .shang ul #lazy {
  margin-top: 4   px;
}
/* line 1094, ../sass/index.scss */
#fashion .xia {
  width: 1150px;
  height: 328px;
}
/* line 1097, ../sass/index.scss */
#fashion .xia ul {
  width: 100%;
  height: 306px;
  margin-top: 8px;
}
/* line 1101, ../sass/index.scss */
#fashion .xia ul li {
  width: 222px;
  height: 298px;
  float: left;
  padding: 8px 6px 0 0;
}

/* line 1110, ../sass/index.scss */
#chaomen {
  height: 974px;
  background: indianred;
}
/* line 1114, ../sass/index.scss */
#chaomen .tou {
  position: relative;
}
/* line 1117, ../sass/index.scss */
#chaomen .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}
/* line 1127, ../sass/index.scss */
#chaomen .tou .more {
  position: absolute;
  padding: 10px 0;
  top: 78px;
  right: 0;
}
/* line 1134, ../sass/index.scss */
#chaomen .shang {
  width: 1200px;
  height: 508px;
}
/* line 1137, ../sass/index.scss */
#chaomen .shang ul {
  width: 1150px;
  height: 508px;
}
/* line 1140, ../sass/index.scss */
#chaomen .shang ul li {
  width: 188px;
  height: 250px;
  float: left;
  margin: 6px 4px 0 0;
}
/* line 1145, ../sass/index.scss */
#chaomen .shang ul li .yufulan {
  height: 228px;
  padding: 10px 0;
  background-color: #f8f8f8;
  overflow: hidden;
}
/* line 1150, ../sass/index.scss */
#chaomen .shang ul li .yufulan a {
  float: left;
  width: 50%;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  color: #000;
  overflow: hidden;
}
/* line 1162, ../sass/index.scss */
#chaomen .shang ul .zhong {
  width: 376px;
  height: 250px;
}
/* line 1165, ../sass/index.scss */
#chaomen .shang ul .zhong img {
  width: 376px;
  height: 250px;
}
/* line 1170, ../sass/index.scss */
#chaomen .shang ul #lazy {
  margin-top: 4   px;
}
/* line 1175, ../sass/index.scss */
#chaomen .xia {
  width: 1150px;
  height: 328px;
}
/* line 1178, ../sass/index.scss */
#chaomen .xia ul {
  width: 100%;
  height: 306px;
  margin-top: 8px;
}
/* line 1182, ../sass/index.scss */
#chaomen .xia ul li {
  width: 222px;
  height: 298px;
  float: left;
  padding: 8px 6px 0 0;
}

/* line 1191, ../sass/index.scss */
#newthing {
  height: 4348px;
  background: lightblue;
  position: relative;
}
/* line 1196, ../sass/index.scss */
#newthing .tou {
  position: relative;
}
/* line 1199, ../sass/index.scss */
#newthing .tou .hezi {
  position: absolute;
  top: 80px;
  left: 422px;
  width: 298px;
  height: 32px;
  border: 1px solid #000;
  text-align: center;
  line-height: 32px;
}
/* line 1210, ../sass/index.scss */
#newthing .xuan {
  width: 1152px;
  height: 4028px;
}
/* line 1213, ../sass/index.scss */
#newthing .xuan ul {
  width: 1152px;
  height: 4028px;
}
/* line 1216, ../sass/index.scss */
#newthing .xuan ul li {
  width: 222px;
  height: 356px;
  float: left;
  padding: 0 8px 52px 0;
}
/* line 1222, ../sass/index.scss */
#newthing .xuan ul li a img {
  width: 222px;
  height: 298px;
}
/* line 1226, ../sass/index.scss */
#newthing .xuan ul li a h4 {
  width: 100%;
  height: 18px;
  margin-top: 16px;
  line-height: 1.5;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}
/* line 1238, ../sass/index.scss */
#newthing .xuan ul li a p {
  width: 100%;
  height: 22px;
  margin-top: 5px;
  line-height: 22px;
  font-size: 12px;
  text-align: center;
}
/* line 1250, ../sass/index.scss */
#newthing .hezi1 {
  position: absolute;
  top: 4274px;
  left: 516px;
  background: #000;
  color: white;
  text-align: center;
  line-height: 35px;
  width: 120px;
  height: 35px;
}

/* line 1262, ../sass/index.scss */
#footer {
  width: 1903px;
  height: 400x;
  background: #000;
  margin: 0 auto;
}
/* line 1267, ../sass/index.scss */
#footer .hei1 {
  width: 1150px;
  height: 60px;
  margin: 0 auto;
}
/* line 1272, ../sass/index.scss */
#footer .hei1 ul {
  width: 534px;
  height: 60px;
}
/* line 1275, ../sass/index.scss */
#footer .hei1 ul .zhengpin {
  width: 118px;
  height: 32px;
  margin-right: 60px;
  line-height: 30px;
  font-weight: 700;
  float: left;
}
/* line 1282, ../sass/index.scss */
#footer .hei1 ul .zhengpin .icon {
  width: 27px;
  height: 30px;
}
/* line 1286, ../sass/index.scss */
#footer .hei1 ul .zhengpin .hundred {
  color: #e01;
  font-size: 12px;
}
/* line 1290, ../sass/index.scss */
#footer .hei1 ul .zhengpin .word {
  color: #fff;
  font-size: 12px;
}
/* line 1295, ../sass/index.scss */
#footer .hei1 ul .tuihuo {
  width: 118px;
  height: 32px;
  margin-right: 60px;
  line-height: 30px;
  font-weight: 700;
  float: left;
}
/* line 1302, ../sass/index.scss */
#footer .hei1 ul .tuihuo .icon {
  width: 27px;
  height: 30px;
}
/* line 1306, ../sass/index.scss */
#footer .hei1 ul .tuihuo .hundred {
  color: #e01;
  font-size: 12px;
}
/* line 1310, ../sass/index.scss */
#footer .hei1 ul .tuihuo .word {
  color: #fff;
  font-size: 12px;
}
/* line 1315, ../sass/index.scss */
#footer .hei1 ul .zaixian {
  width: 118px;
  height: 32px;
  margin-right: 60px;
  line-height: 30px;
  font-weight: 700;
  float: left;
}
/* line 1322, ../sass/index.scss */
#footer .hei1 ul .zaixian .icon {
  width: 27px;
  height: 30px;
}
/* line 1326, ../sass/index.scss */
#footer .hei1 ul .zaixian .hundred {
  color: #e01;
  font-size: 12px;
}
/* line 1330, ../sass/index.scss */
#footer .hei1 ul .zaixian .word {
  color: #fff;
  font-size: 12px;
}
/* line 1337, ../sass/index.scss */
#footer .hei2 {
  width: 1150px;
  height: 151px;
  padding: 15px 0;
  margin: 0 auto;
  border-top: 1px solid #262626;
}
/* line 1343, ../sass/index.scss */
#footer .hei2 .content {
  width: 1150px;
  height: 120px;
}
/* line 1346, ../sass/index.scss */
#footer .hei2 .content ul {
  width: 1265px;
  height: 120x;
}
/* line 1349, ../sass/index.scss */
#footer .hei2 .content ul li {
  width: 180;
  height: 120px;
  float: left;
}
/* line 1353, ../sass/index.scss */
#footer .hei2 .content ul li p {
  width: 180px;
  line-height: 24px;
}
/* line 1356, ../sass/index.scss */
#footer .hei2 .content ul li p span {
  font-size: 12px;
  color: wheat;
}
/* line 1367, ../sass/index.scss */
#footer .hei3 {
  width: 1150px;
  height: 124px;
  background: #000;
  padding: 10px 0 14px;
  font-size: 12px;
  margin: 0 auto;
}
/* line 1374, ../sass/index.scss */
#footer .hei3 .content1 {
  width: 1150px;
  height: 60p;
  line-height: 20px;
  color: #666;
  padding-left: 300px;
  position: relative;
}
/* line 1381, ../sass/index.scss */
#footer .hei3 .content1 .left-pic {
  width: 268px;
  height: 40px;
  margin-top: 3px;
  position: absolute;
  left: 0;
  top: 12px;
}
/* line 1388, ../sass/index.scss */
#footer .hei3 .content1 .left-pic .link {
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin-right: 8px;
  background: #fff;
  width: 76px;
  height: 34px;
}
/* line 1398, ../sass/index.scss */
#footer .hei3 .content1 .link {
  width: 850px;
  height: 60px;
  color: #666;
}
/* line 1403, ../sass/index.scss */
#footer .hei3 .content1 .link a {
  width: 100%;
  height: 14px;
  color: #666;
}
/* line 1407, ../sass/index.scss */
#footer .hei3 .content1 .link a span {
  width: 24px;
  height: 14px;
  padding: 0 10px;
}
/* line 1416, ../sass/index.scss */
#footer .copyright {
  width: 1150px;
  height: 40px;
  text-align: center;
  padding-top: 20px;
  line-height: 20px;
}
/* line 1422, ../sass/index.scss */
#footer .copyright p {
  color: #666;
  width: 1150px;
  height: 20px;
}
/* line 1428, ../sass/index.scss */
#footer .hei4 {
  width: 1150px;
  height: 48px;
  background: #000;
  margin: 0 auto;
}
/* line 1434, ../sass/index.scss */
#footer .hei4 .content2 ul {
  width: 1150px;
  height: 48px;
  margin: 0 auto;
}
/* line 1438, ../sass/index.scss */
#footer .hei4 .content2 ul .friend {
  width: 60px;
  height: 48px;
}
/* line 1442, ../sass/index.scss */
#footer .hei4 .content2 ul .h1 {
  width: 48px;
  height: 14px;
}
/* line 1446, ../sass/index.scss */
#footer .hei4 .content2 ul li {
  width: 66px;
  height: 40x;
  margin-left: 11px;
  float: left;
}
/* line 1451, ../sass/index.scss */
#footer .hei4 .content2 ul li a {
  width: 73px;
  height: 14px;
  color: #666;
  float: left;
  font-size: 12px;
}
/* line 1458, ../sass/index.scss */
#footer .hei4 .content2 ul li .huo1 {
  width: 24px;
  height: 14px;
}
/* line 1462, ../sass/index.scss */
#footer .hei4 .content2 ul li .zuoyi {
  margin-left: 18px;
}

/* line 1473, ../sass/index.scss */
#louti {
  position: fixed;
  width: 60px;
  left: 50%;
  bottom: 20px;
  margin-left: 595px;
  z-index: 4;
}
/* line 1480, ../sass/index.scss */
#louti .return-top {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #000;
  opacity: .5;
  cursor: pointer;
  margin-top: 20px;
}
