/* line 5, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/login1.scss */
body {
  font-family: arial,SimHei,sans-serif;
}

/* line 6, ../sass/login1.scss */
.simple-header {
  height: 66px;
  margin: 0 0 20px;
  border-bottom: 2px solid #222;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 15, ../sass/login1.scss */
.simple-header .header-inner {
  width: 990px;
  height: 100%;
  margin: 0 auto;
}
/* line 19, ../sass/login1.scss */
.simple-header .header-inner .logo {
  float: left;
  line-height: 66px;
  font-size: 0;
  text-decoration: none;
  color: #000;
}
/* line 26, ../sass/login1.scss */
.simple-header .header-inner .header-tool {
  float: right;
  line-height: 66px;
  font-size: 0;
}
/* line 30, ../sass/login1.scss */
.simple-header .header-inner .header-tool li {
  display: inline-block;
  padding: 0 9px;
  line-height: 28px;
}

/* line 38, ../sass/login1.scss */
.tool-options .tool-options-large {
  height: 20px;
}

/* line 41, ../sass/login1.scss */
.simple-header .header-tool li, .simple-header .header-tool li a, .simple-header .header-tool li span {
  font-size: 12px;
  vertical-align: middle;
  color: #000;
}

/* line 46, ../sass/login1.scss */
.simple-header .header-tool .tool-options-large, .simple-header .header-tool .tool-options-large .tool-select {
  width: 80px;
  box-sizing: border-box;
}

/* line 50, ../sass/login1.scss */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* line 55, ../sass/login1.scss */
.login-box {
  margin-right: auto;
  margin-left: auto;
  width: 1150px;
  position: relative;
  height: 620px;
}

/* line 62, ../sass/login1.scss */
.desktop-login {
  width: 270px;
  height: 499px;
  float: right;
  position: absolute;
  top: 100px;
  right: 100px;
}

/* line 72, ../sass/login1.scss */
.desktop-login li {
  padding: 20px;
  list-style: none;
}

/* line 76, ../sass/login1.scss */
element.style {
  font-size: 12px;
  text-align: center;
  display: inline-block;
  width: 990px;
  height: 25px;
  background-color: #f5f5f5;
  line-height: 25px;
  overflow: hidden;
}

/* line 86, ../sass/login1.scss */
.cover {
  float: left;
  margin: 107px 0;
  width: 575px;
}

/* line 91, ../sass/login1.scss */
.cover .cover-content {
  padding: 50px 0;
  width: 100%;
  height: 318px;
  border-right: 1px solid #dfdfdf;
}

/* line 97, ../sass/login1.scss */
.cover .cover-img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 252px;
  height: 190px;
}

/* line 105, ../sass/login1.scss */
.login-page .content {
  float: left;
  margin-top: 107px;
  padding-left: 85px;
}

/* line 111, ../sass/login1.scss */
a:focus, input, textarea {
  outline: none;
}

/* line 114, ../sass/login1.scss */
.login-page .switch-login-type {
  width: 270px;
  height: 46px;
  margin-bottom: 25px;
  background-color: #fff;
}

/* line 120, ../sass/login1.scss */
.login-page .login-ul > div > li {
  margin-bottom: 25px;
}

/* line 123, ../sass/login1.scss */
.login-page .switch {
  width: 100%;
  height: 27px;
  border-radius: 13px;
  font-size: 14px;
}

/* line 129, ../sass/login1.scss */
.login-page .switch .left {
  width: 146px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  border-radius: 13px;
  position: absolute;
  left: 0;
  cursor: pointer;
}

/* line 139, ../sass/login1.scss */
.login-page .switch .right {
  width: 146px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  border-radius: 13px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

/* line 149, ../sass/login1.scss */
.login-box .input {
  width: 268px;
  height: 43px;
  border: 1px solid #dbdbdb;
  color: #9a9a9a;
  color: rgba(0, 0, 0, 0.5);
  text-indent: 10px;
  font-size: 16px;
  line-height: 1.2;
  line-height: 43px\9;
}

/* line 160, ../sass/login1.scss */
.login-box .btn {
  display: block;
  width: 100%;
  height: 46px;
  background-color: #ff1901;
  color: #fff;
  text-align: center;
  letter-spacing: 10px;
  font-size: 20px;
  line-height: 46px;
  cursor: pointer;
  list-style: none;
}

/* line 173, ../sass/login1.scss */
.login-box .other-opts {
  color: #b9b9b9;
  font-size: 14px;
}

/* line 177, ../sass/login1.scss */
.login-box .right {
  float: right;
}

/* line 180, ../sass/login1.scss */
.login-box .third-party-login a {
  display: table-cell;
  width: 67px;
  background-size: 100% 100%;
}

/* line 188, ../sass/login1.scss */
.login-box .relative {
  position: relative;
  list-style: none;
}

/* line 192, ../sass/login1.scss */
.login-box .captcha-wrap {
  position: relative;
}

/* line 196, ../sass/login1.scss */
.login-box.sms-captcha-img-wrap {
  position: relative;
}

/* line 199, ../sass/login1.scss */
.login-box .other-opts {
  color: #b9b9b9;
  font-size: 14px;
}

/* line 203, ../sass/login1.scss */
.login-box .third-party-login {
  display: table;
  width: 100%;
}

/* line 207, ../sass/login1.scss */
.login-box .title {
  float: left;
  font-size: 20px;
}

/* line 211, ../sass/login1.scss */
.login-box .country-code {
  color: #b9b9b9;
  cursor: pointer;
}

/* line 216, ../sass/login1.scss */
.login-box .right {
  float: right;
}

/* line 230, ../sass/login1.scss */
#footer {
  width: 1903px;
  height: 400x;
  background: #000;
  margin: 0 auto;
}
/* line 235, ../sass/login1.scss */
#footer .hei1 {
  width: 1150px;
  height: 60px;
  margin: 0 auto;
}
/* line 240, ../sass/login1.scss */
#footer .hei1 ul {
  width: 534px;
  height: 60px;
}
/* line 243, ../sass/login1.scss */
#footer .hei1 ul .zhengpin {
  width: 118px;
  height: 32px;
  margin-right: 60px;
  line-height: 30px;
  font-weight: 700;
  float: left;
}
/* line 250, ../sass/login1.scss */
#footer .hei1 ul .zhengpin .icon {
  width: 27px;
  height: 30px;
}
/* line 254, ../sass/login1.scss */
#footer .hei1 ul .zhengpin .hundred {
  color: #e01;
  font-size: 12px;
}
/* line 258, ../sass/login1.scss */
#footer .hei1 ul .zhengpin .word {
  color: #fff;
  font-size: 12px;
}
/* line 263, ../sass/login1.scss */
#footer .hei1 ul .tuihuo {
  width: 118px;
  height: 32px;
  margin-right: 60px;
  line-height: 30px;
  font-weight: 700;
  float: left;
}
/* line 270, ../sass/login1.scss */
#footer .hei1 ul .tuihuo .icon {
  width: 27px;
  height: 30px;
}
/* line 274, ../sass/login1.scss */
#footer .hei1 ul .tuihuo .hundred {
  color: #e01;
  font-size: 12px;
}
/* line 278, ../sass/login1.scss */
#footer .hei1 ul .tuihuo .word {
  color: #fff;
  font-size: 12px;
}
/* line 283, ../sass/login1.scss */
#footer .hei1 ul .zaixian {
  width: 118px;
  height: 32px;
  margin-right: 60px;
  line-height: 30px;
  font-weight: 700;
  float: left;
}
/* line 290, ../sass/login1.scss */
#footer .hei1 ul .zaixian .icon {
  width: 27px;
  height: 30px;
}
/* line 294, ../sass/login1.scss */
#footer .hei1 ul .zaixian .hundred {
  color: #e01;
  font-size: 12px;
}
/* line 298, ../sass/login1.scss */
#footer .hei1 ul .zaixian .word {
  color: #fff;
  font-size: 12px;
}
/* line 305, ../sass/login1.scss */
#footer .hei2 {
  width: 1150px;
  height: 151px;
  padding: 15px 0;
  margin: 0 auto;
  border-top: 1px solid #262626;
}
/* line 311, ../sass/login1.scss */
#footer .hei2 .content {
  width: 1150px;
  height: 120px;
}
/* line 314, ../sass/login1.scss */
#footer .hei2 .content ul {
  width: 1265px;
  height: 120x;
}
/* line 317, ../sass/login1.scss */
#footer .hei2 .content ul li {
  width: 180;
  height: 120px;
  float: left;
}
/* line 321, ../sass/login1.scss */
#footer .hei2 .content ul li p {
  width: 180px;
  line-height: 24px;
}
/* line 324, ../sass/login1.scss */
#footer .hei2 .content ul li p span {
  font-size: 12px;
  color: wheat;
}
/* line 335, ../sass/login1.scss */
#footer .hei3 {
  width: 1150px;
  height: 124px;
  background: #000;
  padding: 10px 0 14px;
  font-size: 12px;
  margin: 0 auto;
}
/* line 342, ../sass/login1.scss */
#footer .hei3 .content1 {
  width: 1150px;
  height: 60p;
  line-height: 20px;
  color: #666;
  padding-left: 300px;
  position: relative;
}
/* line 349, ../sass/login1.scss */
#footer .hei3 .content1 .left-pic {
  width: 268px;
  height: 40px;
  margin-top: 3px;
  position: absolute;
  left: 0;
  top: 12px;
}
/* line 356, ../sass/login1.scss */
#footer .hei3 .content1 .left-pic .link {
  display: inline-block;
  float: left;
  border-radius: 2px;
  margin-right: 8px;
  background: #fff;
  width: 76px;
  height: 34px;
}
/* line 366, ../sass/login1.scss */
#footer .hei3 .content1 .link {
  width: 850px;
  height: 60px;
  color: #666;
}
/* line 371, ../sass/login1.scss */
#footer .hei3 .content1 .link a {
  width: 100%;
  height: 14px;
  color: #666;
}
/* line 375, ../sass/login1.scss */
#footer .hei3 .content1 .link a span {
  width: 24px;
  height: 14px;
  padding: 0 10px;
}
/* line 384, ../sass/login1.scss */
#footer .copyright {
  width: 1150px;
  height: 40px;
  text-align: center;
  padding-top: 20px;
  line-height: 20px;
}
/* line 390, ../sass/login1.scss */
#footer .copyright p {
  color: #666;
  width: 1150px;
  height: 20px;
}
/* line 396, ../sass/login1.scss */
#footer .hei4 {
  width: 1150px;
  height: 48px;
  background: #000;
  margin: 0 auto;
}
/* line 402, ../sass/login1.scss */
#footer .hei4 .content2 ul {
  width: 1150px;
  height: 48px;
  margin: 0 auto;
}
/* line 406, ../sass/login1.scss */
#footer .hei4 .content2 ul .friend {
  width: 60px;
  height: 48px;
}
/* line 410, ../sass/login1.scss */
#footer .hei4 .content2 ul .h1 {
  width: 48px;
  height: 14px;
}
/* line 414, ../sass/login1.scss */
#footer .hei4 .content2 ul li {
  width: 66px;
  height: 40x;
  margin-left: 11px;
  float: left;
}
/* line 419, ../sass/login1.scss */
#footer .hei4 .content2 ul li a {
  width: 73px;
  height: 14px;
  color: #666;
  float: left;
  font-size: 12px;
}
/* line 426, ../sass/login1.scss */
#footer .hei4 .content2 ul li .huo1 {
  width: 24px;
  height: 14px;
}
/* line 430, ../sass/login1.scss */
#footer .hei4 .content2 ul li .zuoyi {
  margin-left: 18px;
}

/* line 441, ../sass/login1.scss */
#louti {
  position: fixed;
  width: 60px;
  left: 50%;
  bottom: 20px;
  margin-left: 595px;
  z-index: 4;
}
/* line 448, ../sass/login1.scss */
#louti .return-top {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #000;
  opacity: .5;
  cursor: pointer;
  margin-top: 20px;
}
